@model IEnumerable<BikersPortal.Models.ProductType>

@{
    ViewData["Title"] = "Index";
}


<body style="background-image:url(https://www.teahub.io/photos/full/29-292481_amazing-black-bike-wallpaper-backgrounds-hd-wallpapers-black.jpg);">
<h1>Product Types</h1>
  <div class="btn btn-dark">
      <a asp-action="Create">Create New</a>
  </div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductTypes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductTypes)
            </td>
            <td>
               <div class="btn btn-dark">
                     <a asp-action="Edit" asp-route-id="@item.ProductTypeId">Edit</a> |
               </div>
               <div class="btn btn-dark">
                      <a asp-action="Details" asp-route-id="@item.ProductTypeId">Details</a> |
               </div>
                <div class="btn btn-dark">
                     <a asp-action="Delete" asp-route-id="@item.ProductTypeId">Delete</a>
               </div>
           </td>
        </tr>
}
    </tbody>
</table>
</body>
