@model IEnumerable<BikersPortal.Models.PaymentMethod>

@{
    ViewData["Title"] = "Index";
}


<body style="background-image:url(https://www.teahub.io/photos/full/29-292481_amazing-black-bike-wallpaper-backgrounds-hd-wallpapers-black.jpg);">
<h1>PaymentMethods</h1>
 <div class="btn btn-dark">
    <a asp-action="Create">Create New</a>
 </div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PaymentMethodName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MethodEnabled)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMethodName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MethodEnabled)
            </td>
            <td>
               <div class="btn btn-dark">
                      <a asp-action="Edit" asp-route-id="@item.PaymentMethodId">Edit</a> |
               </div>
               <div class="btn btn-dark">
                      <a asp-action="Details" asp-route-id="@item.PaymentMethodId">Details</a> |
               </div>
               <div class="btn btn-dark">
                      <a asp-action="Delete" asp-route-id="@item.PaymentMethodId">Delete</a>
               </div>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
